<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172651178089-ljb3bjn8baatv77utpm0sefre8mbsdge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172651178089-ljb3bjn8baatv77utpm0sefre8mbsdge</string>
	<key>API_KEY</key>
	<string>AIzaSyD0kkCcLDsd10HhV8Eb7cqryQlolTdA80o</string>
	<key>GCM_SENDER_ID</key>
	<string>172651178089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sfacProject</string>
	<key>PROJECT_ID</key>
	<string>sfs-project-44c46</string>
	<key>STORAGE_BUCKET</key>
	<string>sfs-project-44c46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172651178089:ios:a2755c0fc0cf10d5695af8</string>
</dict>
</plist>